
    <div class="form-horizontal">
        @Html.Partial("~/Views/Home/HomeSlider.cshtml");
        <div align="center">
            <img src="~/Images/Copy of nex.png" style="margin-top: 10px; background: transparent" />

        </div>
    </div>



